*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container{
 margin-top: 30px;
 display: flex;   
 flex-wrap: wrap;
 justify-content: space-between;
 width: 600px;
 height: 600px;
 background-color: #bfbfbf;
}

.square{
    border: 
    1px solid black;

}

.hovered{
    background-color: red;
}

button{
    width: 150px;
    height: 50px;
    color: white;
    font-size: large;
    font-weight: bold;
    background-color: blue;
    border-color: blue;
    border-radius: 8px;
}

button:hover{
    background-color: cornflowerblue;
}
