*{

    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container{
 margin: 25px;
 display: flex;   
 flex-wrap: wrap;
 width: 40%;
 aspect-ratio: 1/1;
 height: 50%;
 background-color: #bfbfbf;
}

.square{
    aspect-ratio: 1/1;
    border: 1px solid gray; 
    transition: 0.2s;  
}

button{
    width: 8%;
    height: 50px;
    color: white;
    font-size: medium;
    font-weight: bold;
    background-color: blue;
    border-color: blue;
    border-radius: 8px;
}

button:hover{
    background-color: cornflowerblue;
}

.checkboxes{
    margin-top: 20px;
}
